<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Task</title>
</head>
<body>

<p>Add new task</p>
<form action="#" th:action="@{/task/add}" th:object="${newTask}" method="post">
    <table border="3">
        <tr>
            <td><label>Name</label></td>
            <td><input type= text" th:field="*{name}" /></td>
        </tr>
        <tr>
            <td><label>Description:</label></td>
            <td><input type= text" th:field="*{description}" /></td>
        </tr>
        <tr>
            <td><input type= "submit" value="Submit" /></td>
        </tr>
</form>
</body>
</html>