<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add sprint</title>
</head>
<body>

<p>Add sprint</p>
<form action="#" th:action="@{/sprint/add}" th:object="${newSprint}" method="post">
    <table border="1">

        <tr>
            <td><label>Date from:</label></td>
            <td><input type="date" th:field="*{dateFrom}" /></td>
        </tr>
        <tr>
            <td><label>Date to:</label></td>
            <td><input type="date" th:field="*{dateTo}" /></td>
        </tr>
        <tr>
            <td><label>Planned Story Points:</label></td>
            <td><input type="text" th:field="*{plannedStoryPoints}" /></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit" /></td>
        </tr>
    </table>
</form>


</body>
</html>