<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add project</title>
</head>
<body>

<p>Add project</p>
<form action="#" th:action="@{/project/add}" th:object="${newProject}" method="post">
    <table border="1">
        <tr>
            <td><label> Name</label></td>
            <td><input type="text" th:field="*{name}" /></td>
        </tr>
        <tr>
            <td><label>Description:</label></td>
            <td><input type="text" th:field="*{description}" /></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit" /></td>
        </tr>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect2">User</label>
            </div>
            <select id="inputGroupSelect2" class="custom-select" th:field="${newProject.user.id}">
                <option selected th:value="null">Choose</option>
                <option th:each="user : ${user}" th:value="${user.id}" th:text="${user.displayed_name}"></option>
            </select>
        </div>
    </table>
</form>


</body>
</html>