<!DOCTYPE html>
<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"

<head>
    <meta charset="UTF-8">
    <title>My participation in project</title>
</head>
<body>
<a th:href="@{/add-particpation}"><button>Add participation in project</button></a>



<li th:each="participation: ${participation}">
    <p th:text="'id:' + ${participation.id}"/>

</li>

<a th:href="@{/edit-participationInProject/{id}(id = ${participation.id})}"><button>Edit</button></a>
    <a th:href="@{/delete-participationInProject/{id}(id = ${participation.id})}"><button>Delete</button></a>

</body>
