<!DOCTYPE html>
<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">
<head>
    <meta charset="UTF-8">
    <title>My participation in project</title>
</head>
<body>
<a th:href="@{/add-particpation}"><button>Add participation in project</button></a>

<p>Here are my projects</p>

<li th:each="participation: ${participation}">
    <p th:text="'id:' + ${participation.id}"/>
    <p th:text="'project:' + ${participation.project}"/>
    <p th:text=" 'user:' + ${participation.user}"/>
    <a th:href="@{/edit-participationInProject/{id}(id = ${participation.id})}"><button>Edit</button></a>
    <a th:href="@{/delete-participationInProject/{id}(id = ${participation.id})}"><button>Delete</button></a>
</li>

</body>
