<!DOCTYPE html>
<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns="http://www.w3.org/1999/html"
        lang="en">
<head>
    <meta charset="UTF-8">
    <title>My sprint</title>
</head>
<body>

<p>Here are my sprint</p>

<li th:each="sprint: ${sprint}">
    <p th:text="'Id:' + ${sprint.id}"/>
    <p th:text="'Data start:' + ${sprint.dateFrom}"/>
    <p th:text="'Date end:' + ${sprint.dateTo}"/>
    <p th:text="'Story points:' + ${sprint.plannedStoryPoints}"/>
</li>

</body>