<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
</head>
<body>

<a th:href="@{/add-task}"><button>Add Task</button></a>

<p>These are the project tasks</p>

<li th:each="task: ${tasks}">
    <p th:text="${task.id}"/>
    <p th:text="${task.name}"/>
    <p th:text="${task.description}"/>
    <p th:text="${task.sprint}"/>
    <p th:text="${task.weight}"/>
    <p th:text="${task.storyPoints}"/>
    <p th:text="${task.progress}"/>
    <p th:text="${task.user}"/>
    <a th:href="@{/delete-task/{id}(id = ${task.id})}"><button>Delete</button></a>
    <a th:href="@{/edit-task/{id}(id = ${task.id})}"><button>Edit</button></a>
</li>

</body>
</html>